/*=========================================

Universal Styling 

=========================================*/
* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

h2 {
  padding: 16px 0;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 30px;
}

h3,
p {
  padding: 10px 0 15px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  min-height: 100vh;
}

body {
  background: #14203b;
}

/*=====================================
  
  Nav Bar Styling 
  
=====================================*/
.top-bar {
  width: 100%;
  padding: 8px;
  background: #cf1874;
  color: #f4f4f4;
  position: fixed;
  display: inline-block;
}

nav {
  float: right;
}

.logo {
  font-family: "Birthstone Bounce", serif;
  float: left;
  padding: 10px;
}

nav ul li {
  display: inline-block;
  vertical-align: top;
}

nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #f4f4f4;
  font-size: 15px;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #326986;
  transition: 0.3s;
}

/*=========================================
  
  Hero Block Styling
  
=========================================*/

.hero {
  background: #14203b;
  color: white;
  height: 400px;
  width: 100%;
}

.hero h1 {
  font-size: 30px;
}

.hero-button {
  background: #cf1874;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  transition: 0.3s;
}

.hero-button:hover {
  background: #326986;
  transition: 0.3s;
}

.hero-button a {
  text-decoration: none;
  color: white;
}

.hero-text {
  display: inline-block;
  max-width: 345px;
  padding: 80px 0 0 40px;
}

.hero-image {
  display: inline-block;
  float: right;
  padding: 0;
}

.hero-image img {
  height: 400px;
  width: 515px;
}

/*=========================================
  
  What Can I do for you Section Styling

=========================================*/

.question {
  background: #f4f4f4;
  color: #14203b;
  text-align: center;
  padding: 40px;
}

/*=========================================
  
Cards Section Styling

=========================================*/

.card {
  width: 297px;
  height: 250px;
  display: inline-block;
}

.card-text1,
.card-text2,
.card-text3 {
  position: relative;
  width: 300px;
  height: 241px;
  top: -254px;
  text-align: center;
  color: #f4f4f4;
  transition: 0.3s;
  padding-top: 10px;
}

.titles {
  padding-top: 100px;
}

.card-text1:hover {
  background: #cf1974;
  transition: 0.3s;
  cursor: pointer;
  font-size: large;
}

.card-text2:hover {
  background: #14203b;
  transition: 0.3s;
  cursor: pointer;
  font-size: large;
}

.card-text3:hover {
  background: #326986;
  transition: 0.3s;
  cursor: pointer;
  font-size: large;
}

section.cards {
  height: 644px;
}

/*=========================================
  
  About Section Styling
  
=========================================*/
.about-me {
  color: white;
  height: 450px;
}

.about-me-text {
  display: inline-block;
  max-width: 345px;
  padding: 80px 0 0 40px;
}

.about-me img {
  display: inline-block;
  float: left;
  padding: 0;
  width: 450px;
  height: 400px;
}

.about-button {
  background: #cf1874;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s;
}

.about-button:hover {
  background: #326986;
  transition: 0.3s;
}

.about-button a {
  text-decoration: none;
  color: white;
}

/*=====================================
  
Form Section Styling 
  
=========================================*/
.form {
  background: white;
  color: #14203b;
  height: 400px;
}

.contact-form {
  display: inline-block;
  padding: 25px 35px;
}

.input-section {
  border: 1px rgb(151, 151, 151) solid;
  padding: 10px;
  margin: 10px 0;
  width: 300px;
  color: lightgray;
}

textarea {
  font-family: "Roboto", sans-serif;
}

.submit input {
  background: #cf1874;
  color: white;
  border: none;
  transition: 0.3s;
  border-radius: 30px;
  padding: 10px 20px;
}

.submit input:hover {
  background: #326986;
  color: #f4f4f4;
  transition: 0.3s;
}

.submit.input-section {
  border: none;
  padding: 0;
}

.form img {
  width: 450px;
  display: inline-block;
  float: right;
}

/*=========================================

Footer Styling 

=========================================*/

footer {
  text-align: center;
  background: #14203b;
  color: #f4f4f4;
  padding: 40px 0px;
}

footer a {
  color: white;
  font-size: 18px;
  margin: 0 3px;
  transition: 0.3s;
}

footer a:hover {
  color: #c5c2c2;
  transition: 0.3s;
}

footer p {
  padding: 5px;
}
